<section class="Portal blogPortal float-left">
    <a href="http://www.fancythingsblog.com" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            BLOG</p>
        <img src="../../Images/blog_image.png" alt="Fancy Things Blog" />
    </a>
</section>
<section class="Portal shopPortal float-left">
    <a href="http://www.etsy.com/shop/shopfancythings" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            SHOP</p>
        <img src='../../Images/shop_image.jpg' alt="My Shop" />
    </a>
</section>
<section class="Portal aboutPortal float-left">
    <a href="http://www.fancythingsblog.com/p/about.html" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            ABOUT</p>
        <img src='../../Images/about_photo.jpg' alt="About Me" />
    </a>
</section>