<section class="Portal">
    <a href="#" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            For Her</p>
        <img src="images/shop.jpg" alt="For Her" />
    </a>
</section>
<section class="Portal ">
    <a href="#" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            For Him</p>
        <img src="images/forhim.jpg" alt="For Him" />
    </a>
</section>
<section class="Portal">
    <a href="#" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            Blog</p>
        <img src="images/blog.jpg" alt="Just Dandy" />
    </a>
</section>
<section class="Portal">
    <a href="#" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            Style</p>
        <img src='images/style.jpg' alt="Shop Dandy" />
    </a>
</section>
<section class="Portal">
    <a href="#" target="_blank">
        <div class="portalTape">
        </div>
        <p class="portalText">
            Design</p>
        <img src='images/designs.jpg' alt="Design" />
    </a>
</section>