<section class="Slideshow">
    <div class="SlideContainer">
        <div id="slide1" class="live">
            <img src="../../Images/fancy_pencils.jpg" alt="Arm Party" />
        </div>
        <div id="slide2">
            <img src="../../Images/arm_party.jpg" alt="Arm Party" />
        </div>
        <div id="slide3">
            <img src="../../Images/tulips.JPG" alt="Tulips" />
        </div>
        <div id="slide4">
            <img src="../../Images/Baies_candle.jpeg" alt="Baies Candle" />
        </div>
        <div id="slide5">
            <img src="../../Images/book_shelves.JPG" alt="Book Shelves" />
        </div>
        <div id="slide6">
            <img src="../../Images/peonies.jpg" alt="Peonies" />
        </div>
        <div id="slide7">
            <img src="../../Images/nailpolishes.jpg" alt="Nail Polishes" />
        </div>
        <section class="SlideToolbar">
            <ul class="SlideBlobs">
                <li data-slidefor="slide1" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))"
                    style="background-color: #f9bac3"></li>
                <li data-slidefor="slide2" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
                <li data-slidefor="slide3" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
                <li data-slidefor="slide4" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
                <li data-slidefor="slide5" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
                <li data-slidefor="slide6" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
                <li data-slidefor="slide7" onclick="Slideshow.InitSlide($(this).attr('data-slideFor'))">
                </li>
            </ul>
        </section>
        <div class="SlideToolbarShadow">
        </div>
    </div>
</section>