<ul>
    <li><a id="twitter" href="http://www.twitter.com/shopdandy" target="_blank"></a></li>
    <li><a id="facebook" href="http://www.facebook.com/#%21/pages/Just-Dandy/140818999293375" target="_blank"></a></li>
    <li><a id="bloglovin" href="http://www.bloglovin.com/en/blog/1934863/just-dandy/follow" target="_blank"></a></li>
    <li><a id="instagram" href="http://instagram.com/shopdandy" target="_blank"></a></li>
    <li><a id="pinterest" href="http://pinterest.com/shopdandy/" target="_blank"></a></li>
</ul>