<ul>
    <li><a id="twitter" href="https://twitter.com/#!/fancythingsblog" target="_blank"></a></li>
    <li><a id="facebook" href="https://www.facebook.com/pages/fancy-things-the-blog/213692045319671?sk=wall" target="_blank"></a></li>
    <li><a id="bloglovin" href="http://www.bloglovin.com/blog/3322677/fancy-things" target="_blank"></a></li>
    <li><a id="instagram" href="http://instagram.com/fancythingsblog" target="_blank"></a></li>
    <li><a id="pinterest" href="http://pinterest.com/fancythingsk/" target="_blank"></a></li>
</ul>